.desc {
  min-height: 930px;
  @include bg;
  background-image: url('/src/img/bgs/desc-bg.jpg');
  padding-top: 19px;
  color: white;

  @media (max-height: 800px) {
    min-height: auto;
    padding-bottom: 30px;
  }

  @media (max-width: 810px) and (max-height: 1200px) {
    min-height: auto;
    padding-bottom: 30px;
  }

  @media (max-width: 650px) {
    padding-top: 9px;
    min-height: auto;
    padding-bottom: 30px;
  }
}

.desc__title {
  @include title;
  @include max-width(1051px);
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  margin-top: 57px;
  margin-bottom: 43px;
  text-transform: uppercase;

  b {
    text-transform: initial;
  }

  @media (max-width: 1051px) {
    br {
      display: none;
    }
  }

  @media (max-width: 991px) {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    margin-top: 30px;
  }

  @media (max-width: 650px) {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

.desc__text {
  font-size: 24px;
  text-align: center;
  @include max-width(717px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;

  @media (max-width: 991px) {
    margin-bottom: 30px;
  }

  @media (max-width: 650px) {
    margin-bottom: 15px;
  }
}

.desc__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;

  @media (max-width: 991px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: 650px) {
    gap: 10px;
    margin-bottom: 0;
  }
}

.desc__item {
  @include max-width(341px);
  padding-left: 63px;
  line-height: 1.44;
  position: relative;

  &::before {
    position: absolute;
    width: 37px;
    height: 37px;
    content: '';
    left: 0px;
    top: 3px;
    @include bg;
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i})::before {
      background-image: url('/src/img/icons/desc/#{$i}.png');
    }
  }

  @media (max-width: 650px) {
    padding-left: 53px;
  }
}
