.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header__logo {
  @media (max-width: 650px) {
    width: 100px;
    height: auto;
  }
}

.header__text {
  font-size: 20px;
  color: white;
  margin-bottom: 0;
  text-align: center;

  @media (max-width: 950px) {
    display: none;
  }
}

.header__contant-box {
  display: flex;
  flex-direction: column;
}

.header__phone {
  font-size: 26px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;

  &:hover,
  &:focus,
  &:active {
    color: white;
    text-decoration: underline;
  }

  @media (max-width: 650px) {
    font-size: 17px;
  }
}

.header__callback {
  @include reset-btn;
  color: $red;
  text-decoration: underline;
  font-size: 14px;
}
