.offer__title {
  @include title;
  @include max-width(1010px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 41px;
  text-align: center;

  b {
    color: $red;
  }
}

.offer__list {
  @include reset-list;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 35px;
  flex-wrap: wrap;
}

.offer__item {
  @include max-width(557px);
}

.offer__item-img {
  width: 100%;
}

.offer__item-text-box {
  border: solid 1px #c3c3c3;
  border-top: none;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 37px;
  min-height: 212px;

  @media (max-width: 650px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    min-height: auto;
  }
}

.offer__item-number {
  font-size: 40px;
  color: $red;
  margin-bottom: -5px;
  font-weight: bold;
  position: relative;
  top: -9px;

  @media (max-width: 650px) {
    margin-bottom: 5px;
    top: -4px;
    font-size: 22px !important;
  }
}

.offer__item-title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;

  & + p {
    margin-top: 20px;

    @media (max-width: 650px) {
      margin-top: 10px;
    }
  }
}

.offer__item-text {
  margin-bottom: 0;
  line-height: 1.44;
}
