.special {
  padding-top: 90px;
  padding-bottom: 94px;

  @media (max-height: 800px) {
    padding-top: 30px;
  }

  @media (max-width: 810px) and (max-height: 1200px) {
    padding-top: 30px;
  }

  @media (max-width: 650px) {
    padding-top: 30px;
  }

  @media (max-width: 991px) {
    padding-bottom: 50px;
  }

  @media (max-width: 650px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.special__content {
  @include max-width(560px);
  position: relative;

  &::after {
    position: absolute;
    content: url('/src/img/special-img.png');
    top: -28px;
    right: -972px;

    @media (max-width: 780px) {
      right: -902px;
    }

    @media (max-width: 700px) {
      content: none;
    }
  }
}

.special__title {
  @include title;
  margin-bottom: 50px;

  b {
    font-weight: bold;
    color: $red;
  }
}

.special__text-box {
  margin-bottom: 94px;

  @media (max-width: 700px) {
    margin-bottom: 30px;
  }
}

.special__text {
  line-height: 1.44;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 650px) {
    margin-bottom: 15px;
  }
}

.special__subtitle {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 41px;
  text-align: center;
  @include max-width(810px);
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 650px) {
    font-size: 22px !important;
    margin-bottom: 30px;
  }
}

.special__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  padding-left: 34px;
  gap: 30px;

  @media (max-width: 900px) {
    justify-content: center;
  }
}

.special__item {
  @include max-width(255px);
  line-height: 1.44;
  padding-top: 200px;
  position: relative;

  &::before {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  &::after {
    position: absolute;
    font-size: 20px;
    top: 69px;
    left: -44px;
    transform: rotate(270deg);

    @media (max-width: 650px) {
      left: -30px;
    }
  }

  @for $i from 1 through 7 {
    &:nth-child(#{$i})::before {
      content: url('/src/img/gallery/special-list/#{$i}.png');
    }
    &:nth-child(#{$i})::after {
      content: '0#{$i}';
    }
  }

  @media (max-width: 650px) {
    padding-top: 185px;
  }
}
